USE [master]
GO
/****** Object:  Database [DBCRUD]    Script Date: 2/17/2025 11:26:44 PM ******/
CREATE DATABASE [DBCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBCRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBCRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCRUD]
GO
/****** Object:  Table [dbo].[TBLPRODUCTOS]    Script Date: 2/17/2025 11:26:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLPRODUCTOS](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProd] [varchar](100) NULL,
	[Precio] [int] NULL,
	[DescripcionProd] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_Editar]    Script Date: 2/17/2025 11:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Editar](
@IdProducto int,
@NombreProd varchar(100),
@Precio int,
@DescripcionProd varchar(200)
)
as
begin
	update TBLPRODUCTOS set NombreProd = @NombreProd, Precio = @Precio, DescripcionProd = @DescripcionProd where IdProducto = @IdProducto
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Eliminar]    Script Date: 2/17/2025 11:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Eliminar](
@IdProducto int
)
as
begin
	delete from TBLPRODUCTOS where IdProducto = @IdProducto
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Guardar]    Script Date: 2/17/2025 11:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Guardar](
@NombreProd varchar(100),
@Precio int,
@DescripcionProd varchar(200)
)
as
begin
	insert into TBLPRODUCTOS(NombreProd,Precio,DescripcionProd) values (@NombreProd,@Precio,@DescripcionProd)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_listar]    Script Date: 2/17/2025 11:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_listar]
as
begin
	select * from TBLPRODUCTOS
end
GO
/****** Object:  StoredProcedure [dbo].[sp_Obtener]    Script Date: 2/17/2025 11:26:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Obtener](
@IdProducto int
)
as
begin
	select * from TBLPRODUCTOS where IdProducto = @IdProducto
end
GO
USE [master]
GO
